body{
  margin: auto;
  width:960px;
}
[ng\:cloak],[ng-cloak], .ng-cloak{
  display:none;
}
.thick{
  font-weight:bold;
}
#head{
   text-align:center;
   color:blue;
   margin-top: 10px;
  }
#form{
  text-align: center;
}
label
{
  font-size: 20px;
  font-weight: bold;
  text-align: left;

}
#yr
{
  margin-left: 0;
}
#button
{
  margin-top: 15px;
}

table
{
    border: 2px;
    border-style: solid;
    border-color: black;
    align-items: center;
    text-align: center;
    margin-left: 280px;
    margin-top: 10px;

}
td
{
    border: 2px;
    border-style: solid;
    border-color: black;
    align-items: center;
    text-align: center;
    margin-left: 280px;
    margin-top: 10px;

}
#new
{
   margin-top: 10;
}
#show
{
  margin-bottom:120px;
}
.center
{
  text-align: center;
}
